Backup-Y1YvfTbhpAt2ijVB
{"updatedAt":"2026-03-06T08:38:24.859Z","createdAt":"2026-03-05T12:01:10.260Z","id":"Y1YvfTbhpAt2ijVB","name":"Backup","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"formatDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,0],"id":"838568df-5435-4324-9409-cf31849f9e29","name":"Formate Date"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"aca6ed65-af12-41d1-8b7d-b120908d669e","name":"Execute workflow"},{"parameters":{"assignments":{"assignments":[{"id":"2c9f1c75-5a77-423d-868a-095244969934","name":"formattedDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,0],"id":"6bfedaaf-2ae0-46c8-806c-e162f7bf866e","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[208,0],"id":"68059e2b-3447-4d8d-a4f4-634d73a04093","name":"Date & Time"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[800,0],"id":"d96e6d5b-a68d-42cb-9784-63784ab6cd9d","name":"List files","webhookId":"a3984118-f232-4eee-9975-b1998cba2bb9","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1024,0],"id":"48ae3627-8a68-48a0-82ce-e3384a20682b","name":"Aggregate"},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"fileName":"={{ $json.name }}-{{ $json.updatedAt }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[272,320],"id":"409dc802-4d87-4b45-9b60-efd8b717fdc7","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"eba01505-8f94-48be-a96e-28b4fca57a59","leftValue":"={{ $binary.data.fileName.split() }}","rightValue":"={{ $binary.data.fileName }}","operator":{"type":"array","operation":"exists","singleValue":true}},{"id":"c9cff049-b048-4e1c-9b1e-93f3ab7c0401","leftValue":"={{ $binary.data.fileName.split() }}","rightValue":"","operator":{"type":"array","operation":"notExists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[704,320],"id":"39654370-7901-4a29-b77f-72cd5d819245","name":"If"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,480],"id":"be8c7141-2a1e-434c-98ba-854195e4d81b","name":"Edit Fields1"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backUp"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[912,240],"id":"82255461-38a8-4f04-b625-71884b8be4ab","name":"Edit a file","webhookId":"0aa6d6a2-f4b3-4dd6-a2be-87cfad9f1588","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backUp"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[912,416],"id":"24a82a61-0ce3-4d17-abac-a61a6a0b236f","name":"Create a file","webhookId":"c98a77b5-5794-46ef-b2cd-875004cfa71e","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1248,0],"id":"5cc65226-1928-42f4-82ee-0b9a38bdc215","name":"Get many workflows","credentials":{"n8nApi":{"id":"p1W0A0bX6jUGE2IO","name":"n8n account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Formate Date":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Formate Date","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Execute workflow":[{"json":{},"pairedItem":{"item":0}}]},"versionId":"8768b45f-e28c-466b-a1b4-45ccd085e26e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T12:01:10.260Z","createdAt":"2026-03-05T12:01:10.260Z","role":"workflow:owner","workflowId":"Y1YvfTbhpAt2ijVB","projectId":"MUlQoPzbJvNgv0rr"}],"activeVersion":null,"tags":[]}