file.json
{"updatedAt":"2026-02-20T16:33:53.705Z","createdAt":"2026-02-20T16:33:53.705Z","id":"dQNtjevzzw0nfD0T","name":"Telegramm Bot","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,0],"id":"8ef0d522-52ad-4a67-84a4-9b5825b8128c","name":"Telegram Trigger","webhookId":"0b9d117c-bfc8-4747-9025-4b5b974e5e48"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=##Overview\nYou are a helpful assistant. Find information on the issue online using the correct tool and provide a detailed answer with links to sources.\n\n##Tools\n- Tavily: Use this tool to search the web"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[240,0],"id":"85971242-a66f-4561-a194-4d8ef07fb899","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","contextWindowLength":20},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[272,224],"id":"f14fcd3b-cdd6-4c20-bd09-ee5c79f19783","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[608,0],"id":"a4c87272-b69a-4c57-8e4e-334ab6594598","name":"Send a text message","webhookId":"de48b9a8-2d68-4b39-9433-d1d06043a83d"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[96,208],"id":"0981e08e-8a19-4ce3-aacc-e360e4fc5146","name":"OpenRouter Chat Model"},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"api-key\": \"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\",\n  \"query\": \"{searchTerm}\",\n  \"search_depth\": \"basic\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[480,208],"id":"1de1776c-0930-416d-bca8-de7836bf434f","name":"Tavily"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Tavily":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"e23f3cdd-3cb4-4da8-a7fa-cbaf65b9a00e","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-20T16:33:53.705Z","createdAt":"2026-02-20T16:33:53.705Z","role":"workflow:owner","workflowId":"dQNtjevzzw0nfD0T","projectId":"MUlQoPzbJvNgv0rr"}],"activeVersion":null,"tags":[]}