file.json
{"updatedAt":"2026-03-05T11:13:32.808Z","createdAt":"2026-03-05T11:13:32.808Z","id":"e3BE2YyccOUE6aQO","name":"Backup copy","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"formatDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-192,-80],"id":"dff19f77-9b83-49da-97c4-9be0b106fa0c","name":"Formate Date"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-592,-80],"id":"6eaaccc8-39b7-442c-b40b-00a7ef46a4d2","name":"Execute workflow"},{"parameters":{"assignments":{"assignments":[{"id":"2c9f1c75-5a77-423d-868a-095244969934","name":"formattedDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-80],"id":"8ad44422-107c-4459-84a6-2c86c364a14c","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-384,-80],"id":"f79fabbd-3646-437b-81c2-c7493dec1c05","name":"Date & Time"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"path":"0141f8ba-37fe-48b9-a712-9b15087c0ad6"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,-80],"id":"c8a3e66f-b25e-47d9-9453-0916821d15b5","name":"List files","webhookId":"0141f8ba-37fe-48b9-a712-9b15087c0ad6","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[432,-80],"id":"fb49454e-c4a9-4990-8775-b1fb4fbf778c","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[656,-80],"id":"3312c0c1-8165-49c8-9f45-26f331600e8f","name":"Get many workflows","credentials":{"n8nApi":{"id":"p1W0A0bX6jUGE2IO","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-320,240],"id":"64df289e-b79a-44a0-92d9-1aaf6c69dbae","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"eba01505-8f94-48be-a96e-28b4fca57a59","leftValue":"={{ $binary.data.fileName.split() }}","rightValue":"={{ $binary.data.fileName }}","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[112,240],"id":"89076559-24f1-4031-8626-797254b91b23","name":"If"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,240],"id":"68dd5446-7b3a-44bb-beb8-64bd13e6b87b","name":"Edit Fields1"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backUp","path":"7c277e2b-6d00-467d-8786-537248f50747"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[320,144],"id":"655a2e68-88d8-45ff-bccb-2f3afd18ba7f","name":"Edit a file","webhookId":"7c277e2b-6d00-467d-8786-537248f50747","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backUp","path":"3c54026b-e71c-4b91-8bb8-e70c4a15a8ce"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[320,336],"id":"301b48b5-b212-4b4f-ad2a-9d88bd6d5a4a","name":"Create a file","webhookId":"3c54026b-e71c-4b91-8bb8-e70c4a15a8ce","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Formate Date":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Formate Date","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute workflow":[{"json":{},"pairedItem":{"item":0}}]},"versionId":"128c5d8f-2809-4fd3-bc8e-b9502c419d40","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T11:13:32.808Z","createdAt":"2026-03-05T11:13:32.808Z","role":"workflow:owner","workflowId":"e3BE2YyccOUE6aQO","projectId":"MUlQoPzbJvNgv0rr"}],"activeVersion":null,"tags":[]}