file.json
{"updatedAt":"2026-03-05T11:34:54.334Z","createdAt":"2026-03-05T11:27:52.489Z","id":"FU3iG8s0m18wz8nC","name":"Backup copy copy","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"formatDate","options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-192,-80],"id":"662b1816-47e2-4365-a0c4-5eaf2747445c","name":"Formate Date"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-592,-80],"id":"dd5ea651-3241-4462-aabb-c71996e804da","name":"Execute workflow"},{"parameters":{"assignments":{"assignments":[{"id":"2c9f1c75-5a77-423d-868a-095244969934","name":"formattedDate","value":"={{ $json.formattedDate }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-80],"id":"e0730e05-cce7-4839-987b-5875d67c7967","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-384,-80],"id":"beab15ea-3f70-4ea5-9643-8729c042876d","name":"Date & Time"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[208,-80],"id":"950bb796-8c0b-47c5-9510-a532838cec21","name":"List files","webhookId":"0630a1a3-a801-4b10-baa3-fcc961594956","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[432,-80],"id":"ed651d16-1357-47b4-9462-6143515dea91","name":"Aggregate"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[656,-80],"id":"4ddd4e5d-14e6-478a-9f04-a3cfeef4f511","name":"Get many workflows","credentials":{"n8nApi":{"id":"p1W0A0bX6jUGE2IO","name":"n8n account"}}},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"=data","options":{"fileName":"={{ $json.name }}-{{ $json.id }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-320,240],"id":"8681fbc8-b92b-464a-968e-d77094effc37","name":"Convert to File"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"eba01505-8f94-48be-a96e-28b4fca57a59","leftValue":"={{ $binary.data.fileName.split() }}","rightValue":"={{ $binary.data.fileName }}","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[112,240],"id":"2be18b3b-f50c-4889-9428-cebcbbcfa4fe","name":"If"},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,240],"id":"7f41fd76-2286-4c1d-846f-3bc3d4c5c806","name":"Edit Fields1"},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backUp"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[320,144],"id":"bea184b3-19b2-47e0-898d-ebf140d768ee","name":"Edit a file","webhookId":"188d8e13-5a42-433a-ab4f-5d5c54c9f1f1","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/MarinaKirzner/test_backup","mode":"url"},"repository":{"__rl":true,"value":"test_backup","mode":"list","cachedResultName":"test_backup","cachedResultUrl":"https://github.com/MarinaKirzner/test_backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backUp"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[320,336],"id":"9aa9e067-01f5-4554-8a84-effa6f9acf0c","name":"Create a file","webhookId":"e0fbef6a-4865-4859-9f92-8c0d0341360a","credentials":{"githubOAuth2Api":{"id":"GMJn12jwW1jY9QXW","name":"GitHub account"}}}],"connections":{"Execute workflow":{"main":[[{"node":"Date & Time","type":"main","index":0}]]},"Formate Date":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"List files","type":"main","index":0}]]},"Date & Time":{"main":[[{"node":"Formate Date","type":"main","index":0}]]},"List files":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit a file","type":"main","index":0}],[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Execute workflow":[{"json":{},"pairedItem":{"item":0}}]},"versionId":"1a45b984-4c53-4e4a-939a-1f7bc611245a","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-03-05T11:27:52.489Z","createdAt":"2026-03-05T11:27:52.489Z","role":"workflow:owner","workflowId":"FU3iG8s0m18wz8nC","projectId":"MUlQoPzbJvNgv0rr"}],"activeVersion":null,"tags":[]}