Telegramm Bot-2026-02-20T16:33:53.705Z
{
  "id": "LiMztFZFXR7viEYi",
  "name": "Telegramm Bot",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "65905537-d663-49b0-8921-d2022ab8d971",
      "name": "Telegram Trigger",
      "webhookId": "0b9d117c-bfc8-4747-9025-4b5b974e5e48",
      "credentials": {
        "telegramApi": {
          "id": "1PYp8XmzThHYTqR5",
          "name": "Telegram account (AI_bot_2)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=##Overview\nYou are a helpful assistant. Find information on the issue online using the correct tool and provide a detailed answer with links to sources.\n\n##Tools\n- Tawili: Use this tool to search the internet and retrieve data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "b33efeb4-5f96-4361-a279-e125dddb0c62",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        224
      ],
      "id": "d6043b9f-0c6d-414d-bcd2-da9436a1f2e3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "feef7996-69d3-4509-92cc-c1709edacf62",
      "name": "Send a text message",
      "webhookId": "de48b9a8-2d68-4b39-9433-d1d06043a83d",
      "credentials": {
        "telegramApi": {
          "id": "1PYp8XmzThHYTqR5",
          "name": "Telegram account (AI_bot_2)"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "74e27807-03f0-478d-bce4-dca685f2ef6a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "AvCVDPV2dTeeVHkM",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"api-key\": \"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\",\n  \"query\": \"{searchTerm}\",\n  \"search_depth\": \"basic\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        448,
        208
      ],
      "id": "b4d56f18-7e13-4bde-bbc9-7d2904ba20ed",
      "name": "Tavily"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-03T08:46:05.819Z",
  "updatedAt": "2026-04-06T14:28:56.573Z"
}