Telegramm Bot-2026-02-20T16:33:53.705Z
{
  "id": "LJHX1TYSTB96HYt7",
  "name": "Telegramm Bot",
  "active": false,
  "isArchived": false,
  "updatedAt": "2026-04-02T09:58:19.295Z",
  "createdAt": "2026-04-02T09:58:19.295Z",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "33c9c3d9-f042-41eb-b768-13200e61d784",
      "name": "Telegram Trigger",
      "webhookId": "0b9d117c-bfc8-4747-9025-4b5b974e5e48"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=##Overview\nYou are a helpful assistant. Find information on the issue online using the correct tool and provide a detailed answer with links to sources.\n\n##Tools\n- Tavily: Use this tool to search the web"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        240,
        0
      ],
      "id": "25c3b448-24ff-4191-82cc-5507acdd217a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        224
      ],
      "id": "a56a0d55-d1b8-4b25-8831-49192a16f998",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "0ef3cd6b-72eb-42a2-a102-58691e0d8cc9",
      "name": "Send a text message",
      "webhookId": "de48b9a8-2d68-4b39-9433-d1d06043a83d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        96,
        208
      ],
      "id": "d6a11294-be94-4ffb-a7eb-b1a088ad5b5c",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"api-key\": \"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\",\n  \"query\": \"{searchTerm}\",\n  \"search_depth\": \"basic\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        480,
        208
      ],
      "id": "d06b1d8e-d392-4176-bec0-fc7596f9eb5c",
      "name": "Tavily"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}